@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$font-family-sans-serif: 'Questrial', sans-serif;

$primary: #F3BF18;
$secondary: #004DB9;

@import "../../node_modules/bootstrap/scss/bootstrap";